
body {
     background:#fefefe;
}


h1 {
    color:#424efd
}

h2 {
    color:#1460AA;
}

h3 {
    color:#438ea5
}

h4 {
    color:#86c4d6
}

.main-header {
    color:#b5838d
}

body {
    background:white;
}

.h2-header {
    color:#e5989b
}

.h3-header {
    color:#ffb4a2
}

.h4-header {
    color:#ffcdb2
}